{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

  <form action="{{ url_for('dictionary.search')}}" method="get">

    <input name="query_string" id="query_string" placeholder="{% if query_string %}{{ query_string }}{% else %}Search here{% endif %}" required>
  </form>

<!--
  {% if query_string %}
  <form action="{{ url_for('dictionary.index')}}" method="get">
    <input type="submit" value="Show all entries">
  </form>
  {% endif %}

  {% if g.user %}
    <a class="action" href="{{ url_for('dictionary.create') }}">New</a>
  {% endif %}
-->
  {% for acronym in acronyms %}
    <article class="acronym">
      <header>
        <div>
          <h1>{{ acronym['acronym'] }}</h1>
          <div class="body">{{ acronym['description'] }}</div>
          <div class="about">by {{ acronym['username'] }} on {{ acronym['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == acronym['author_id'] %}
          <a class="action" href="{{ url_for('dictionary.update', id=acronym['id']) }}">Edit</a>
        {% endif %}
      </header>

    </article>
    <hr>
  {% endfor %}

  {% if g.user and query_string%}
    <form action="{{ url_for('dictionary.create', acronym='{{ query_string }}') }}" method="get">
      <input type="submit" value="Add new entry for {{ query_string }}">
    </form>

  {% endif %}
{% endblock %}