{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ acronym['acronym'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="acronym">Acronym</label>
    <input name="acronym" id="acronym"
      value="{{ request.form['acronym'] or acronym['acronym'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or acronym['description'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('dictionary.delete', id=acronym['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}